.quiz-title {
    display: flex;
    flex-direction: row;
    min-width: 500px;
    max-width: 1000px;
}

.title {
    color: black;
    font-size: large;
    text-align: center;
}

.article {
    flex: 1;
}

.word {
    flex: 1;
}

.placeholder-for-marker{
    flex: 1;
}

.quiz-list{
    display: flex;
    flex-direction: row;
    min-width: 500px;
    max-width: 1000px;
}

.quiz-article{
    flex: 1;
    text-align: right;
}

.quiz-word {
    flex: 1;
    text-align: center;
}

.quiz-marker{
    flex: 1;
    align-content: center;
}